<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>IOS.SKAM</string>
    <key>CFBundleName</key>
    <string>SKAM</string>
    <key>CFBundleDisplayName</key>
    <string>SKAM</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>nfc</string>
    </array>
    <key>NFCReaderUsageDescription</key>
    <string>We need access to NFC to allow you to scan tags.</string>
</dict>
</plist>
